In [1]:
import pandas as pd
import matplotlib.pylab as plt
import numpy as np

In [3]:
url_link=r"C:\Users\Komal\dataset\ENGLAND-Football-Dataset.csv"
df = pd.read_csv(url_link)

In [4]:
df.head(10)

,tournament,home,home_goal,away_goal,away,home_corner,away_corner,home_attack,away_attack,home_shots,away_shots,time,date,ht_diff,at_diff,ht_result,at_result,total_corners
0,Premier League,Arsenal,0.0,0.0,Chelsea,0.0,0.0,NaN,NaN,NaN,NaN,20:00:00,2023-05-02,0.0,0.0,DRAW,DRAW,0.0
1,Premier League,Leicester,0.0,0.0,Everton,0.0,0.0,NaN,NaN,NaN,NaN,20:00:00,2023-05-01,0.0,0.0,DRAW,DRAW,0.0
2,Premier League,Liverpool,0.0,0.0,Tottenham,0.0,0.0,NaN,NaN,NaN,NaN,16:30:00,2023-04-30,0.0,0.0,DRAW,DRAW,0.0
3,Premier League,Bournemouth,0.0,0.0,Leeds,0.0,0.0,NaN,NaN,NaN,NaN,14:00:00,2023-04-30,0.0,0.0,DRAW,DRAW,0.0
4,Premier League,Fulham,0.0,0.0,Man City,0.0,0.0,NaN,NaN,NaN,NaN,14:00:00,2023-04-30,0.0,0.0,DRAW,DRAW,0.0
5,Premier League,Man Utd,0.0,0.0,Aston Villa,0.0,0.0,NaN,NaN,NaN,NaN,14:00:00,2023-04-30,0.0,0.0,DRAW,DRAW,0.0
6,Premier League,Newcastle,0.0,0.0,Southampton,0.0,0.0,NaN,NaN,NaN,NaN,14:00:00,2023-04-30,0.0,0.0,DRAW,DRAW,0.0
7,Premier League,Brentford,0.0,0.0,Nottm Forest,0.0,0.0,NaN,NaN,NaN,NaN,15:00:00,2023-04-29,0.0,0.0,DRAW,DRAW,0.0
8,Premier League,Brighton,0.0,0.0,Wolverhampton,0.0,0.0,NaN,NaN,NaN,NaN,15:00:00,2023-04-29,0.0,0.0,DRAW,DRAW,0.0
9,Premier League,Crystal Palace,0.0,0.0,West Ham,0.0,0.0,NaN,NaN,NaN,NaN,12:30:00,2023-04-29,0.0,0.0,DRAW,DRAW,0.0

In [5]:
df.tail()

,tournament,home,home_goal,away_goal,away,home_corner,away_corner,home_attack,away_attack,home_shots,away_shots,time,date,ht_diff,at_diff,ht_result,at_result,total_corners
21796,England National League,Kidderminster,2.0,2.0,Grimsby,2.0,4.0,NaN,NaN,NaN,NaN,15:00:00,2015-08-08,0.0,0.0,DRAW,DRAW,6.0
21797,England National League,Lincoln City,1.0,1.0,Cheltenham,8.0,6.0,NaN,NaN,NaN,NaN,15:00:00,2015-08-08,0.0,0.0,DRAW,DRAW,14.0
21798,England National League,Torquay,1.0,0.0,Macclesfield,4.0,7.0,NaN,NaN,NaN,NaN,15:00:00,2015-08-08,1.0,-1.0,WON,LOST,11.0
21799,England National League,Tranmere,1.0,0.0,Woking,2.0,7.0,NaN,NaN,NaN,NaN,15:00:00,2015-08-08,1.0,-1.0,WON,LOST,9.0
21800,England National League,Welling,1.0,0.0,Guiseley,2.0,3.0,NaN,NaN,NaN,NaN,15:00:00,2015-08-08,1.0,-1.0,WON,LOST,5.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21801 entries, 0 to 21800
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tournament     21801 non-null  object
 1   home           21801 non-null  object
 2   home_goal      21801 non-null  float64
 3   away_goal      21801 non-null  float64
 4   away           21801 non-null  object
 5   home_corner    21801 non-null  float64
 6   away_corner    21801 non-null  float64
 7   home_attack    17113 non-null  float64
 8   away_attack    17113 non-null  float64
 9   home_shots     17154 non-null  float64
 10  away_shots     17142 non-null  float64
 11  time           21801 non-null  object
 12  date           21801 non-null  object
 13  ht_diff        21801 non-null  float64
 14  at_diff        21801 non-null  float64
 15  ht_result      21801 non-null  object
 16  at_result      21801 non-null  object
 17  total_corners  21801 non-null  float64
dtypes: float64(11), object(7)
memory usage: 3.0+ MB

In [7]:
df.describe()

,home_goal,away_goal,home_corner,away_corner,home_attack,away_attack,home_shots,away_shots,ht_diff,at_diff,total_corners
count,21801.000000,21801.000000,21801.000000,21801.000000,17113.000000,17113.000000,17154.000000,17142.000000,21801.000000,21801.000000,21801.000000
mean,1.421770,1.169258,5.555158,4.724875,92.975633,88.374686,12.387898,10.469665,0.252511,-0.252511,10.280033
std,1.225359,1.115147,2.894284,2.661308,28.427644,27.717078,4.978195,4.471103,1.686059,1.686059,3.537255
min,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000,1.000000,1.000000,-9.000000,-9.000000,0.000000
25%,1.000000,0.000000,3.000000,3.000000,72.000000,68.000000,9.000000,7.000000,-1.000000,-1.000000,8.000000
50%,1.000000,1.000000,5.000000,4.000000,93.000000,88.000000,12.000000,10.000000,0.000000,0.000000,10.000000
75%,2.000000,2.000000,7.000000,6.000000,113.000000,108.000000,15.000000,13.000000,1.000000,1.000000,13.000000
max,9.000000,9.000000,20.000000,21.000000,233.000000,237.000000,47.000000,32.000000,9.000000,9.000000,27.000000

In [8]:
df.isnull()

,tournament,home,home_goal,away_goal,away,home_corner,away_corner,home_attack,away_attack,home_shots,away_shots,time,date,ht_diff,at_diff,ht_result,at_result,total_corners
0,False,False,False,False,False,False,False,True,True,True,True,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,True,True,True,True,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,True,True,True,True,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,True,True,True,True,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,True,True,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21796,False,False,False,False,False,False,False,True,True,True,True,False,False,False,False,False,False,False
21797,False,False,False,False,False,False,False,True,True,True,True,False,False,False,False,False,False,False
21798,False,False,False,False,False,False,False,True,True,True,True,False,False,False,False,False,False,False
21799,False,False,False,False,False,False,False,True,True,True,True,False,False,False,False,False,False,False
21800,False,False,False,False,False,False,False,True,True,True,True,False,False,False,False,False,False,False

In [9]:
df.isnull().sum()

tournament          0
home                0
home_goal           0
away_goal           0
away                0
home_corner         0
away_corner         0
home_attack      4688
away_attack      4688
home_shots       4647
away_shots       4659
time                0
date                0
ht_diff             0
at_diff             0
ht_result           0
at_result           0
total_corners       0
dtype: int64

In [10]:
df.notnull()

,tournament,home,home_goal,away_goal,away,home_corner,away_corner,home_attack,away_attack,home_shots,away_shots,time,date,ht_diff,at_diff,ht_result,at_result,total_corners
0,True,True,True,True,True,True,True,False,False,False,False,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,False,False,False,False,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,False,False,False,False,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,False,False,False,False,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,False,False,False,False,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21796,True,True,True,True,True,True,True,False,False,False,False,True,True,True,True,True,True,True
21797,True,True,True,True,True,True,True,False,False,False,False,True,True,True,True,True,True,True
21798,True,True,True,True,True,True,True,False,False,False,False,True,True,True,True,True,True,True
21799,True,True,True,True,True,True,True,False,False,False,False,True,True,True,True,True,True,True
21800,True,True,True,True,True,True,True,False,False,False,False,True,True,True,True,True,True,True

In [11]:
df.notnull().sum()

tournament       21801
home             21801
home_goal        21801
away_goal        21801
away             21801
home_corner      21801
away_corner      21801
home_attack      17113
away_attack      17113
home_shots       17154
away_shots       17142
time             21801
date             21801
ht_diff          21801
at_diff          21801
ht_result        21801
at_result        21801
total_corners    21801
dtype: int64

In [12]:
avg_stroke = df["stroke"].astype("float").mean(axis = 0)
print("Average of stroke :",avg_stroke)

KeyError: 'stroke'